<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="local()">
      Local
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Latitude: {{posLat}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Longitude: {{posLon}}</ion-label>
  </ion-item>

  <ion-card>
    <agm-map [latitude]="posLat" [longitude]="posLon">
      <agm-marker [latitude]="posLat" [longitude]="posLon"></agm-marker>
    </agm-map>
  </ion-card>
</ion-content>