.imagem{
    background-image: url('https://cdn.pixabay.com/photo/2015/05/26/20/30/stinging-nettle-785292__340.jpg');
    
    
}

.borda{
    border-style: dashed;
}

.texto{
    background-color: rgba(20, 20, 20, .50);
    color: white ;
}