<ion-content align="center">


  <ion-header>
    <ion-toolbar>
      <ion-title>
        Tab Three
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="imagem">

    <div class="borda">

      <div class="texto">

        <ion-text>
          <h1>Alecrim</h1>
          <p>Uma erva rica em óleos essenciais, como a cânfora e o limoneno. Atualmente a erva é muito utilizada no preparo
            de compressas, ajudando a aliviar hematomas e contusões, além de diminuir as dores provenientes das doenças reumáticas
            e articulares. Os seus princípios ativos ainda parecem combater enxaquecas, lapsos de memória e até baixa imunidade.
          </p>
        </ion-text>

        <ion-text>
          <h1>Agrião</h1>
          <p>
            Anti-inflamatório natural das vias respiratórias, e tendo seu consumo bastante indicado para o tratamento das bronquites
            crônicas. O vegetal também age contra a nicotina, e possui poder diurético. Ele ainda contribui no tratamento
            de gengivites, aftas, eczemas e acne, melhorando a digestão e ajudando a tratar a tosse.
          </p>
        </ion-text>

        <ion-text>
          <h1>Canela</h1>
          <p>
            Usada em tratamento de problemas gastrointestinais e até mesmo cólicas menstruais. O óleo essencial da canela é rico em cinamaldeído,
            agindo como combatente de diversos fungos e micro-organismos. Ele ainda é capaz de inibir moléculas envolvidas
            no processo inflamatório. Portanto, indicado para problemas de gases e má digestão.
          </p>
        </ion-text>

        <ion-text>
          <h1>Coentro</h1>
          <p>
            Ajuda no melhor funcionamento digestivo e alívio das cólicas estomacais. Isso é possível pelo fato dele ser fonte de mucilagens,
            substâncias que ajudam a mucosa do intestino e do estômago a ficar protegida. Seu uso também é indicado para
            controlar a ansiedade.
          </p>
        </ion-text>

        <ion-text>
          <h1>Alfazema</h1>
          <p>
            Combate a falta de apetite e até mesmo insônia. A alfazema também é benéfica para quem sofre de cistite e inflamação na bexiga.
            As folhas de alfazema são utilizadas no preparo de remédios que combatem a conjuntivite. Já as suas flores são
            utilizadas nos remédios para bronquite, tosse, queimaduras e enxaqueca.
          </p>
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>